
body{
    background-color:#fff;
    cursor: pointer;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
.cabeza{
    position:absolute;
    top: 0;
    width: 100%;
    background-color:transparent;
    z-index: 0;
    
}
.contenedor{

   overflow: hidden;
  }
  .navegacion{
  
   
   position:absolute;
   margin: 0 1px;
   background-color: transparent;
   top: 0;
   left: 0;
   padding: 1rem;
   width: 100%;
   display: flex;
   list-style: none;
   justify-content: center;
   margin-left: -4%;
   margin-top: -0.7%;
   
   
  }
  li a{
 display: flex;
 position: relative;
 font-size: 0.7rem ;
 color: rgb(136, 138, 139);
 padding: 4px 1px;
 text-decoration: none;
 font-family: Arial, Helvetica, sans-serif;
 margin-right: 3rem;
 
  }
 .navegacion a:hover{
    background-color:  rgba(94, 95, 96, 0.068);
    border-radius: 7%;
    
  }
  .buscador{
    position: relative;
    font-size: 1.5rem;
    font-weight: 900;
    color: black;
    margin-left: 10.1%;
    margin-top: 0.5%;
    z-index: 9;
    width: 1.8rem;
    cursor: pointer;
  }
  .buscador:hover{
    background-color:  rgba(94, 95, 96, 0.068);
    

  }
 .suscribir{
  position: absolute;
  background-color: #4943c2d1;
  color: #fff;
  width: 12rem;
  padding: 1vh;
  border-radius: 0.2rem;
  border: solid 1px  #4943c2d1;
  font-weight: 700;
  font-size: 65%;
  margin-left: 68%;
  margin-top: -1.8%;
  z-index: 8;
  cursor: pointer;
 }
 .suscribir:hover{
    background-color: #4943c2;
  

 }
 .login{
  position: absolute;
  background-color: #4943c2d1;
  color: #fff;
  width: 4rem;
  padding: 1vh;
  border-radius: 0.2rem;
  border: solid 1px  #4943c2d1;
  font-weight: 700;
  font-size: 65%;
  margin-left: 82%;
  margin-top: -1.8%;
  z-index: 9;
  cursor: pointer;

 }
 .login:hover{
    background-color: #4943c2;
    
    
 }
 .contenido1{
  position: absolute;
  display: flex;
  margin-top: -18%;
 }
 .p1{
    
  position: absolute;
  text-align: right;
  right:8.3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(58, 57, 57, 0.847);
  font-weight: 400;
  font-size: 13px;
 }
 .p2{
  position: absolute;
  margin-left:70rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(58, 57, 57, 0.847);
  font-weight: 400;
  font-size: 13px;

 }
 .p3{
  position: absolute;
  margin-left:78rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(58, 57, 57, 0.847);
  font-weight: 400;
  font-size: 13px;
  text-decoration: underline;
  
 }
 .p3:hover{
    background-color:  rgba(94, 95, 96, 0.068);

 }
 .p4{
    position: absolute;
    margin-left:74rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(58, 57, 57, 0.847);
    font-weight: 400;
    text-decoration: underline;

 }
.p4:hover{
    background-color:  rgba(94, 95, 96, 0.068);

 }
  .prin1{
    font-family: "Old English Text MT", "Lucida Blackletter", serif;
    font-size: 4rem;
    position: relative;
    text-align: right;
    right: -93%;
    margin-top: -11%;
    

  }
  .panel{
    background-color: transparent;
    z-index: 9;
    position:absolute;
    top: 0;
    left: 0;
    padding:  0.5rem;
    width: 100%;
    display: flex;
    margin-top: 8%;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    margin-left: -1.8%;

  }
  .panel a{
    position: relative;
    font-size: 0.8rem;
    color: rgb(4, 17, 28);
    font-weight: 500;
    margin: 0.1em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    

  }
  .panel a:hover{
    border-bottom: 2px solid rgb(4, 17, 28);
    
  }
  .new{
    position: absolute;
    display: grid;
    grid-template-columns: 5.3rem 22rem  5.3rem  38rem;
    gap: 6px;
    margin-top: -11.6%;
    height: 14vh;
    grid-auto-rows: 5rem;
    background-color:transparent;
    width: 75.4vw;
    margin-left: 10.3%;
    border-top:solid 2px black;
    border-bottom:solid 2px black;

  }
  .der{
    background: url("imagenes/guerra.jpg");
    margin-top: 15%;
    padding: 2.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  .dir{
    background-color: transparent;
    margin-top: 2%;
    padding: 2.5rem;
    border-right: solid 2px rgba(128, 128, 128, 0.499);

    
  }
  .dur{
    background-color:transparent;
    margin-top: 3%;
    padding: 2.5rem;
    border-right: solid 2px rgba(128, 128, 128, 0.499);
   
  }
  .dor{
    background: url("imagenes/times.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 15.5%;
    margin-left: 28%;
    padding: 2.5rem;
  }
  .guer{
    color: black;
    font-weight: 900;
    margin-left: -14%;
    margin-top: -10%;
   

  }
  .año{
    margin-left: -14%;
    margin-top: 1%;
    line-height: 148%;
    font-family: Arial, Helvetica, sans-serif;
  }
.sus{
    color: black;
    font-weight: 900;
    margin-left: -2%;
    margin-top: -6%;

}
.recibe{
    margin-left: -2%;
    margin-top: 1%;
    line-height: 148%;
    font-family: Arial, Helvetica, sans-serif;

}
.buf3{
    position: absolute;
    background-color: #4943c2d1 ;
    width: 6rem;
    padding: 9px;
    color: #fff;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 0.2rem;
    border: solid 1px  #4943c2d1;
    margin-left: 33%;
    margin-top: -3.6%;
    cursor: pointer;
}
.buf3:hover{
    background-color: #4943c2; 
}
.domine-idk {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;

}

p{
    font-family: "Merriweather", serif;
    color: rgb(88, 88, 88);
    font-size: 12px;
}

h2{
    font-family: "Domine", serif;
    font-weight: bolder;
    font-size: 15px;
}
h6{
    color: red;
}
.contenido{
    margin-top: 23%;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
}

.principal{
  margin-top: -8%;
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
    width: 100%;
    height: 65%;
    border-bottom:solid black;
    grid-column: 4/ 17;
    grid-row: 1/ 17;
    background-color: #fff;
    padding-top: 1rem;
    gap: 1px;
}

.title{
    grid-column: 5/21;
    grid-row: 1/2;
}
.tt{
    font-size: 25px;
}
.nw{
    grid-row: 3/15;
    grid-column: 1/6;
}
.shortnw{
    grid-column: 1/6;
    grid-row: 15/ 21 ;
}

.imgs{
    grid-row: 3/20;
    grid-column: 6/16 ;
    background-color: gray;
}
.img1{
    grid-row: 3/11;
    grid-column: 16/19;
    background-color: rosybrown;
}
.img2{
    grid-row: 3/7;
    grid-column: 19/21;
    background-color: rosybrown;
}
.img3{
    grid-row: 7/11;
    grid-column: 19/21;
    background-color: rosybrown;
}
.tt2{
    grid-row: 11;
    grid-column: 16/21;
}
.line1{
  display: grid;
  grid-template-columns: repeat(5,14.8rem);
  grid-template-rows: 16rem;
  height: 43vh;
  width:100vw;
  background-color: transparent;
  position: absolute;
  z-index: 9;
  margin-top: -21%;
  justify-content: center;
  border-bottom:solid 2px rgba(128, 128, 128, 0.499);
  
  
}
.ejer1{
  background-color: transparent;
  border-right: solid 2px rgba(128, 128, 128, 0.499);
  
}
.ejer1,
.ejer2,
.ejer3,
.ejer4,
.ejer5{
  margin-top: 6%;
  
}
.ejer2{
  background-color: transparent;
  border-right: solid 2px rgba(128, 128, 128, 0.499);
}
.ejer3{
  background-color: transparent;
  border-right: solid 2px rgba(128, 128, 128, 0.499);
}
.ejer4{
  background-color:transparent;
  border-right: solid 2px rgba(128, 128, 128, 0.499);

}

.px5,
.px6,
.px7{
  color: black;
  font-weight: 600;
  margin-left: 8.8%;
  margin-top: 63%;
}
.px2,
.px4{
  margin-top: 64%;
  color: black;
  font-weight: 600;
  margin-left: 9%;
}

.px1,
.px3{
  margin-top: -7%;
  margin-left: 11%;
  color: #000;
  font-weight: 400;
}
.ejer5{
  background-color:transparent;
  
}
.line2{
  display: grid;
  grid-template-columns: repeat(5,12.2rem);
  grid-template-rows: 8rem;
  height: 55vh;
  width:100vw;
  background-color: transparent;
  position: absolute;
  z-index: 9;
  margin-top: -20%;
  margin-left: 13%;
  gap: 2.5rem;

  
}
.ejer6{
  background: url("imagenes/historia.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  
}
.ejer1,
.ejer2,
.ejer3,
.ejer4,
.ejer5{
  margin-top: 6%;
  
}
.ejer7{
  background: url("imagenes/promesa.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.ejer8{
  background: url("imagenes/estado.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.ejer9{
  background: url("imagenes/ramon.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  

}
.ejer10{
  background: url("imagenes/indio.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  
}
.line3{
  display: grid;
  grid-template-columns: repeat(6,14.8rem);
  grid-template-rows: 19rem;
  height: 50vh;
  width:100vw;
  background-color: rgba(175, 171, 174, 0.285);
  position: absolute;
  z-index: 9;
  margin-top: -0%;
  gap: 0.8rem;
  border-bottom:solid 2px rgba(128, 128, 128, 0.499);

  
}
.ejer11{
  background: url("imagenes/edi1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.l23,
.l24,
.l26,
.l27
{
  width: 10vw;
  padding: 13px;
  background-color: rgba(169, 169, 169, 0.804);
  margin-left: 35.5%;
 margin-top: 81%;
 justify-content: flex-end;
 font-family: Arial, Helvetica, sans-serif;
 border-top-left-radius: 1rem; 
 
}
.l25{
  width: 10vw;
  padding: 13px;
  background-color: rgba(169, 169, 169, 0.804);
  margin-left: 35.5%;
 margin-top: 88%;
 justify-content: flex-end;
 font-family: Arial, Helvetica, sans-serif;
 border-top-left-radius: 1rem; 
}

.ejer12{
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVpLTru3e4b7-F4aH6Lsuhx19yyU7zMpYBJIXjJ98Trl-bCD8xTpi91oXIyaLpjsHpQi8&usqp=CAU");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.tuy{
  margin-top: -13%;
  margin-left: 56%;
  font-family: Arial, Helvetica, sans-serif;

}
.ejer13{
  background: url("imagenes/edi3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.ejer14{
  background: url("imagenes/edi4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.ejer15{
  background: url("imagenes/edi5.jpeg"); background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.ejer16{
  background-color: #fff;
}
.ejer16,
.ejer11,
.ejer12,
.ejer13,
.ejer14,
.ejer15{
  margin-top: 29%;
}
.re3 img{
  width: 10vw;
  height: 5rem;
  margin-top: 19%;
  margin-left: 17%;

}
.iber{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin-left: 8%;
  margin-top: 13%;
}


